<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>home-page</title>

        <!--defined css links-->

        <% include ./commun/links.ejs %>

    <link rel="stylesheet" href="/stylesheets/style_user.css">
  </head>
  <body>
    <div id="info_user">

      <div class = "profile">
        <img  src="/images/profile_pic/<% if(profile.icon != "") { %><%= profile.icon %><% } else { %><%= 'none.png' %><% } %>" alt="" height="50px" width="50px">
      </div>
      <div class = "profile">
        <p>
          <%= profile.email %> <br>
          <%= profile.fname %> <br>
          <%= profile.age %> ans
        </p>
      </div>
    </div>

    <h3> Wellcome Back : <%= profile.id %> </h3>

    <div  class="row">
      <!--
      <div id="f_box" class = "col-xs-6" >
        <ul>
          <% for(var i =0;i<profile.friends.ids.length;i++){ %>
            <li><span class = "friend"><%= profile.friends.ids[i] %><span></li>
            <% } %>
          </ul>

          <form id ="friend-form" action="" >
            <input type="text">
            <button>Send</button>
          </form>
          <ul>

          </ul>

      </div>

      <div id="g_box" class = "col-xs-6 ">
        <ul>
          <% for(var i =0;i<profile.groups.length;i++){ %>
            <li><span class = "group"><%= profile.groups[i] %><span></li>
            <% } %>
          </ul>

          <form id ="group-form" >
            <input type="text"id="g_mess">
            <button id="gb" >Send</button>
          </form>
          <ul>

          </ul>

      </div>
    -->
    <div class="col-xs-12">

      <form action="" method="" onsubmit="">
        <input type="text" id="message">
        <button>send</button>
      </form>

      <ul>

      </ul>
    </div>

    </div>
      <!--defindes scripts-->

      <% include ./commun/scripts.ejs %>

      <script src="/socket.io/socket.io.js"></script>

      <script>

      // Wait all the page to load
      $(document).ready(function(){

        // Io initialize
        var socket_server = io();
        console.log(socket_server)
        //----------------

        // Send message to server
          $("form").submit(function () {
            if ($("#message").val() != ""){
              socket_server.emit("g-chat",$("#message").val());
              $("ul").append($('<li>').text($("#message").val()))
              $("#message").val("")
          }
            return false;
          })
        //-----------------------------------------------

        // Get message from server
        socket_server.on('ret-g-chat',function (mess) {
          $("ul").append($('<li>').text(mess))
        })
        //-----------------------------------------------

        // Disconnect if refresh or change url
        $(window).on('unload',function(){
            socket_server.disconnect()
        })
        //------------------------

        return false;
      })
      //--------------------------------------------------
      </script>
  </body>
</html>
