<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- try-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


    <title> Create Location</title>
    <!-- Optional theme -->
    <link href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/style_user.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<header>
    <div class="container">
        <div class="row">

          <!-- Floating nav for User-info friends Groups and Events-->
            <div class="col-sm-3" id="float">

              <!-- Container of the float -->
              <div class="row">

                <!-- The user info -->
                <div class="col-xs-12">
                  <div id="info_user">

                    <!--profile pic-->
                    <span id ="picture" class = "profile">
                      <img  src="/images/profile_pic/<% if(profile.icon != "") { %><%= profile.icon %><% } else { %><%= 'none.png' %><% } %>" alt="" height="50px" width="50px">
                    </span>

                    <!--profile info-->
                    <span id="info-perso" class = "profile">
                      <ul>
                        <li id ="user-email"><%= profile.email %></li>
                        <li id ="user-fname"><%= profile.fname %></li>
                        <li id ="user-age"><%= profile.age %> ans</li>
                      </ul>
                    </span>


                  </div>

                </div>

                <!-- The friend list  --><!--  -->
                <div class="col-xs-12">
                  <a href=""></a>
                  <ul>

                  </ul>
                </div>

                <!-- The group list -->
                <div class="col-xs-12">
                  <a href=""></a>
                  <ul>

                  </ul>
                </div>

                <!-- The event liste -->
                <div class="col-xs-12">
                  <a href=""></a>
                  <ul>

                  </ul>
                </div>

              </div>


                <a href="#" class="btn btn-danger btn-block">Compose Email</a>
                <ul class="nav nav-pills nav-stacked nav-email shadow mb-20">

                </ul>
            </div>

            <div  id="head2" class="col-xs-10 col-md-9">
             <div id="map"></div>
           </div>
        </div>
    </div>
</header>
<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="https;//cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgBSxB0syh46vpR1BSovYNbuvKRa3ligc&callback=initMap"></script>
<script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: {
                lat:35.707439,
                long:-0.5713722
            }
        });
        var infoWindow = new google.maps.InfoWindow({map: map});

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                infoWindow.setPosition(pos);
                infoWindow.setContent('Location found.');
                map.setCenter(pos);
            }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
    }
</script>
</body>
</html>
